#page-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}
#left-panel {
  background: #0f292f;
  min-height: 100%;
  width: 65%;
  order: -1;
  flex: 0 0 auto;
}
#banner, #footer, #content {
  width: 35%;
  background: #0f292f;
  opacity: 0.9;
}
#banner{
  height: 20%;
  }

  #footer {
    height: 10%;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    text-align: center;
    color: #14a098;
  }

  #content {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  flex: 1 1 auto;

  
}

body { 
  margin: 0; 
}

.button{
  background: #cb2d6f;
  color: #cccccc;
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15%;
  border-radius: 12px;
  margin: 2%;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  font-size: 50px;
}

a:hover, a:active {
  background-color:#14a098;
  color: #501f3a;
}

h1 {
  color: #cccccc;
  font-size: 120px;
  margin-top: 0%;
  text-align: center;
  font-family: 'Oleo Script';
  font-weight: 700;
}

h2 {
  color: #14a098;
  font-size: 40px;
  font-family: 'Open Sans Condensed';
}

ul{
  display: flex;
  flex-direction: column;
  
}
 
img{
  height: 100px;
  }

  @media only screen and (max-width: 768px) {
    /* For tablets: */
    h1 {
      color: #cccccc;
      font-size: 55px;
      height: 15%;
     }
     .button{
       font-size: 30px;
     }
     #footer{
       font-size: 13px;
     }
  }
 