
body{
    background-color: #0f292f;
    display: flex;
    flex-direction: row-reverse;
    }
  
   header, footer {
    display: flex;
    height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #501f3a
    }


img {
    width: 20em;
    margin-inline: 5px;
}

h1 {
  font-family: fantasy;
  color: white;
  font-size: 90px;
   text-align: end;   
}

h2 {
  font-family: fantasy;
  color: #14a098;
  font-size: 60px;
}

