#page-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}
#left-panel {
  display: flex;
  flex-direction: column;
  background: #0f292f;
  width: 100%;
  min-height: 70%;
  order: 4;
  }

#banner, #footer, #content{
  width: 100%;
  background: #0f292f;
  opacity: 0.9;
}

#banner{
  height: 10%;
  }

#footer {
    font-family: 'Open Sans Condensed';
    font-size: 17px;
    text-align: center;
    justify-content: end;
    color: #14a098;
    min-height: 5%;
    order: 5;
  }
#content {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  height: 20%;
  }

body { 
  margin: 0; 
}

.button{
  background: #cb2d6f;
  color: #cccccc;
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: 13%;
  border-radius: 12px;
  margin: 1%;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  font-size: 30px;
}
.active, a:hover, a:active{
  background-color:#14a098;
  color: #501f3a;
  
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15%;
  border-radius: 12px;
  margin: 1%;
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  font-size: 30px;
}
input {
  background:#cccccc;
  color: #501f3a;
  margin: 1%; 
  height: 10%;
  width: 80%;
  
  font-family: 'Open Sans Condensed';
  font-size: 20px;
}
section{
  display: flex;
  flex-direction: column;
  margin: 0 50px 10px ;
      
  color: #14a098;
  font-size: 18px;
  font-family: 'Open Sans Condensed';
}
.button1{
  background: #cb2d6f;
  color: #cccccc;
  height: 3rem;
  width: 5rem;
  border-radius: 12px;
  margin: 2%;
}

.button2{
  background: #cb2d6f;
  color: #cccccc;
  height: 3rem;
  width: 5rem;
  border-radius: 12px;
  margin: 2%;
  text-align: center;
}

h1 {
  color: #cccccc;
  font-size: 60px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  font-family: 'Oleo Script';
  font-weight: 700;
}

h3 {
  color: #cb2d6f;
  font-size: 40px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
  font-family: 'Oleo Script';
  font-weight: 400;
}
   /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    margin: auto;
  }

  img{
    max-height: 500px;
  }
  .home{
    max-width: 900px;
    max-height: 900px;
    position: relative;
    margin: auto;
    opacity: 0.9;
  }
/* Caption text */
.text {
  color: #cb2d6f;
  font-size: 60px;
  font-family: 'Open Sans Condensed';
  font-weight: bold;

  padding: 8px 8px;
  position: center;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 2 2 2 2 ;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }

.dot:hover {
  background-color: #cb2d6f;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media only screen and (min-width:426px) {
  /* For laptop phones: */

  #page-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
  }
#left-panel {
  display: flex;
  flex-direction: column;
  background: #0f292f;
  min-height: 100%;
  width: 70%;
  order: 4;
  flex: 0 0 auto;
}
#banner, #footer, #content{
  width: 30%;
  background: #0f292f;
  opacity: 0.9;
}
#banner{
  height: 20%;
  }
#content{
  flex: 1 1 auto
}
}
@media only screen and (min-width: 769px) {
  /* For desktop*/
  #page-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
  }
#left-panel {
  display: flex;
  flex-direction: column;
  background: #0f292f;
  min-height: 100%;
  width: 70%;
  order: -1;
  flex: 0 0 auto;
}
#banner, #footer, #content{
  width: 30%;
  background: #0f292f;
  opacity: 0.9;
}
#banner{
  height: 20%;
  }
#content{
  flex: 1 1 auto
}
}